/*
CSS Module for Gallery component
*/

/*images/thumbnails main container*/
.galleryCont {
  height: 18rem; /*288px*/
  position: relative;
}

/*product image*/
.productImg {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*left and right arrow container*/
.leftArrowCont,
.rightArrowCont {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/*left arrow container*/
.leftArrowCont {
  left: 0.8rem;
}

/*right arrow container*/
.rightArrowCont {
  right: 0.8rem;
}

@media (min-width: 48rem /*768px*/) {
  /*images/thumbnails main container*/
  .galleryCont {
    height: 30rem; /*480px*/
  }
}
