/*
CSS Module for Gallery component
*/

/*images/thumbnails main container*/
.galleryCont {
  position: relative;
}

/*selected product image*/
.productImg {
  object-fit: cover;
  width: 100%;
  height: 18rem; /*288px*/
}

/*left and right arrow container*/
.leftArrowCont,
.rightArrowCont {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/*left arrow container*/
.leftArrowCont {
  left: 0.8rem;
}

/*right arrow container*/
.rightArrowCont {
  right: 0.8rem;
}

/*product thumbnails containter: not displayed for mobile/tablet screens*/
.productThumbnailCont {
  display: none;
}

/*Tablet Styles*/
@media (min-width: 48rem /*768px*/) {
  /*selected product image: increase image height*/
  .productImg {
    height: 30rem; /*480px*/
  }
}

/*Desktop Styles*/
@media (min-width: 64rem /*1024px*/) {
  /*product thumbnails containter*/
  .productThumbnailCont {
    display: block;
  }

  /*selected product image: increase height and set border radius*/
  .productImg {
    height: 28.125rem; /*450px*/
    border-radius: var(--border-radius-10);
  }

  /*left and right arrow containers: not displayed for desktop screens*/
  .leftArrowCont,
  .rightArrowCont {
    display: none;
  }
}
