/*
CSS Module for Cart component
*/

/*main container*/
.cartCont {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-10);
  background-color: var(--white);
  width: 100%;
}

/*list of items container: displays vertical scroll bar*/
.itemsCont {
  max-height: 5.125rem; /*82px*/
  overflow-y: scroll;
}

/*title container*/
.titleCont {
  padding: 1rem;
}

/*title*/
.title {
  font-size: var(--font-size-base);
}

/*list of items, subtotal and checkout link container: occupies the remaining available space*/
.contentCont {
  flex: 1;
  padding: 1.5rem;
}

/*empty cart message container*/
.emptyMsgCont {
  height: 10.5rem; /*168px*/
}

/*empty cart message*/
.emptyMsg {
  font-weight: var(--font-weight-700);
}

/*cart content inner container: puts the subtotal and checkout link always at the bottom of the cart*/
.innerCont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

/*sub total text and value container*/
.subTotalCont {
  display: flex;
  gap: 0.5rem;
}

/*checkout button link*/
.checkoutBtn {
  height: auto;
  margin-top: 1rem;
  padding: 1rem 2rem;
  color: var(--dark-blue);
}

/*Dark theme styles*/
/*main container - dark theme: change background color*/
:global(.dark-theme) .cartCont {
  background-color: var(--dark-theme-shopping-cart);
}

/*title, empty cart message, sub total - dark theme: change text color*/
:global(.dark-theme) :is(.title, .emptyMsg, .subTotalText) {
  color: var(--grayish-blue);
}

/*sub total value - dark theme: change text color*/
:global(.dark-theme) .subTotalValue {
  color: var(--light-grayish-blue);
}

/*Tablet Styles*/
@media (min-width: 48rem /*768px*/) {
  /*main container: set height value*/
  .cartCont {
    height: 28.125rem; /*450px*/
  }

  /*empty cart message container: set height to match .cartCont*/
  .emptyMsgCont {
    height: 100%;
  }

  /*list of items container: increase height value*/
  .itemsCont {
    max-height: 12.5rem; /*200px*/
  }

  /*title container: increase padding*/
  .titleCont {
    padding: 1.5rem;
  }

  /*list of items, subtotal and checkout link container:: increase padding*/
  .contentCont {
    padding: 2rem;
  }
}

/*Desktop Styles*/
@media (min-width: 64rem /*1024px*/) {
  /*main container: set width/height values and box-shadow (left/right/bottom)*/
  .cartCont {
    height: 18.75rem; /*300px*/
    width: 25rem; /*400px*/
    box-shadow:
      4px 10px 12px -4px var(--light-box-shadow),
      -4px 10px 12px -4px var(--light-box-shadow);
  }

  /*main container - dark theme: remove box shadow*/
  :global(.dark-theme) .cartCont {
    box-shadow: none;
  }

  /*list of items container: decrease height value*/
  .itemsCont {
    max-height: 5.125rem; /*82px*/
  }

  /*list of items, subtotal and checkout link container: decrease padding*/
  .contentCont {
    padding: 1.5rem;
  }
}
