/*
CSS Module for Detail component
*/

/*product company*/
.company {
  color: var(--dark-grayish-blue);
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

/*product name*/
.name {
  font-size: 1.7rem;
  margin: 0.5rem 0 1rem 0;
}

/*product description*/
.description {
  color: var(--dark-grayish-blue);
  font-weight: var(--font-weight-400);
  line-height: 1.7em;
}

/*product current price, discount and original price container*/
.pricesCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

/*current price and discount container*/
.priceDiscontCont {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/*product current price*/
.currentPrice {
  font-size: 1.7rem;
}

/*product discount container*/
.discountCont {
  background-color: var(--dark-blue);
  border-radius: 20%;
  padding: 0.3rem 0.7rem;
}

/*product discount*/
.discount {
  color: var(--white);
  font-size: 1rem;
}

/*product original price*/
.originalPrice {
  color: var(--dark-grayish-blue);
  text-decoration: line-through;
}

/*product: company, current price, discount and original price font weight*/
.company,
.currentPrice,
.discount,
.originalPrice {
  font-weight: var(--font-weight-700);
}

@media (min-width: 48rem /*768px*/) {
  /*product company*/
  .company {
    font-size: 1rem;
  }

  /*product name*/
  .name {
    font-size: 2.5rem;
  }

  /*product current price*/
  .currentPrice {
    font-size: 2rem;
  }

  /*product discount*/
  .discount {
    font-size: 1.2rem;
  }

  /*product original price*/
  .originalPrice {
    font-size: 1.5rem;
  }
}

@media (min-width: 62.5rem /*1000px*/) {
  /*TO DO - add styling*/
}
