/*
Global CSS styles
*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /*Font*/
  --font-kumbh-sans: "Kumbh Sans", sans-serif;

  /*Orange*/
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);

  /*Neutral*/
  --dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  ---grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --lightbox-bg: hsl(0, 0%, 0%);
}

html,
body {
  overflow-x: hidden;
  font-family: var(--font-kumbh-sans);
  -webkit-font-smoothing: antialiased; /*smooths the edges of fonts on Chrome, Safari, Edge*/
  -moz-osx-font-smoothing: grayscale; /*smooths the edges of fonts Firefox on macOS*/
}
