/*
CSS Module for AddToCart component
*/

/*add to cart button*/
.button {
  gap: 1rem;
  background-color: var(--orange);
  border: none;
  border-radius: var(--border-radius-10);
  box-shadow: 0px 10px 5px -1px var(--pale-orange);
  height: 100%;
  width: 100%;
  padding: 1rem 2rem;
}

/*button text*/
.text {
  font-weight: var(--font-weight-700);
  font-size: var(--font-size-base);
}

/*shopping cart svg*/
.cartIcon {
  width: 1.125rem; /*18px*/
  height: 1rem; /*16px*/
}

/*Desktop Styles*/
@media (min-width: 64rem /*1024px*/) {
  /*add to cart button: remove padding*/
  .button {
    padding: 0;
  }

  /*button: on hover, change color*/
  .button:hover {
    background-color: var(--hover-orange);
  }

  /*shopping cart svg: increase width/height*/
  .cartIcon {
    width: 1.25rem; /*20px*/
    height: 1.125rem; /*18px*/
  }
}
