/*
CSS Module for CloseButton component
*/

/*close button*/
.closeBtn {
  width: 0.875rem; /*14px*/
  height: 0.9375rem; /*15px*/
}

/*close icon*/
.closeIcon {
  fill: currentColor;
  fill-rule: evenodd;
  width: 100%;
  height: 100%;
}

/*close button - dark theme: change button color*/
:global(.dark-theme) .closeBtn {
  color: var(--orange);
}
