/*
CSS Module for CloseButton component
*/

/*close button color*/
.closeBtn {
  width: 0.875rem; /*14px*/
  height: 0.9375rem; /*15px*/
}

/*close icon color and size*/
.closeIcon {
  fill: currentColor;
  width: 100%;
  height: 100%;
}
